@import 'tailwindcss';

@theme {
  --color-primary: oklch(60.6% 0.25 292.717); /* violet-500 */
  --color-primary-hover: oklch(54.1% 0.281 293.009); /* violet-600 */
  --color-accent: oklch(69.6% 0.17 162.48); /* emerald-500 */
}

html {
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
}
