---
import Layout from '../layouts/Layout.astro';
import LoginForm from '../components/LoginForm';
---

<Layout title="Sign In - TableView360">
  <section class="max-w-7xl mx-auto py-16 px-6">
    <LoginForm client:load />
  </section>
</Layout>
